{% extends 'base.html' %}

{% block title %}Register{% endblock %}
{% block content %}
<form method="post">
    <h2>User Registration Form</h2>
    <p>
        User registration is required to access the system. Please fill ine the form below to create an account.
    </p>
    {{ form.hidden_tag() }}
    <fieldset>
        <div>
            {{ form.name.label }}
            {{ form.name(placeholder='Enter your name') }}
        </div>
        <div>
            {{ form.email.label }}
            {{ form.email(placeholder='Enter your email address') }}
        </div>
        <div>
            {{ form.password1.label }}
            {{ form.password1(placeholder='Create password') }}
        </div>
        <div>
            {{ form.password2.label }}
            {{ form.password2(placeholder='Re-enter password') }}
        </div>
    </fieldset>
    {{ form.submit }}
    <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
</form>
{% endblock %}